/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    /* Usando Flexbox para alinhar os cartões em uma linha */
    flex-wrap: wrap;
    /* Permitir que os cartões quebrem para a próxima linha se necessário */
    justify-content: space-between;
    /* Distribuir os cartões igualmente ao longo do eixo principal */
    padding: 0 20px;
}

/* Estilos do cabeçalho */
header {
    background-color: #3333337c;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
    transition: background-color 1.0 ease;

}

header h1 {
    margin: 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ffc107;
}

.scroll {
    background-color: #222;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    margin-top: 10px;
}

nav ul li a {
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700;
}

.banner {
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.banner h2 {
    font-size: 3em;
    margin-bottom: 20px;
    margin-top: 0;
}

.fb-page-container {
        position: fixed;
        left: 10px; /* ajuste a posição conforme necessário */
        bottom: 10px; /* ajuste a posição conforme necessário */
        z-index: 9999;
    }

    /* Ajuste o estilo do botão conforme necessário */
 .fb-page-container .fb-page {
        border: none; /* Remove a borda padrão */
    }


.banner p {
    font-size: 1.2rem;
}

.texto-banner {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.texto-banner h2,
.texto-banner p {
    color: #fff;
    /* Muda a cor do texto para branco */
}


.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

.produtos {
    padding: 50px 0;
    background-color: #fff;
}

.card {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: calc(33.33% - 20px);
    /* Definindo a largura de cada cartão */
    margin-bottom: 20px;
    /* Espaçamento entre os cartões */
    box-sizing: border-box;
    /* Garantir que a largura do cartão inclua margens e preenchimentos */
    display: inline-block;
    /* Exibir os cartões em linha */
    vertical-align: top;
    /* Alinhar os cartões ao topo */
    border: 1px solid #ccc;
    padding: 10px;
}



.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-radius: 5px;
    height: auto;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
}


.quem-somos{
    background-color: #fafafa;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.historia {
   background-color: rgba(0, 0, 0, 0.507);
   padding: 50px 0;
}

.img__quemsomos{
    width: 35%;
    height: 30%;
}
.quem-somos__conteudo {
    box-shadow: 6px 8px 20px 0px;
    padding: 45px;
    width: 60%;
    /* background-color: #000000c2; */
    border-radius: 20px;
    /* color: white; */
}


.historia__conteudo{
    box-shadow: 6px 8px 20px 0px;
    padding: 45px;
    width: 84%;
    background-color: #ffffffc2; 
    border-radius: 20px;
    color: rgb(0, 0, 0); 
}

/* Estilos da seção Produtos */

.btn-produtos {
    background-color: #070707;
    color: #d3c503;
    border: 2px solid transparent;
    padding: 12px 10px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    height: 10%;
    
}

.btn-produtos:hover {
    background-color: #d3c503;
    color: #000000;
    border-color: #000000;
    
}
.btn-comprar {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none;
    display: inline-block; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.btn-comprar:hover {
    background-color: #45a049; 

}

.produtos .card {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.produtos .card img {
    max-width: 100%;
    border-radius: 5px;
}

/* Estilos da seção Contato */
.contato {
    padding: 50px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.contato .form input,
.contato .form textarea,
.contato .form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #555;
}

.facebook-container-bottom-right {
    position: fixed;
    bottom: 20px; /* Ajuste a distância do fundo conforme necessário */
    right: 20px; /* Ajuste a distância da direita conforme necessário */
    z-index: 1000; /* Certifique-se de que o plugin esteja acima de outros elementos */
    transform: translateX(0); /* Garante que a transição seja suave */
}

h2 {
    text-align: center;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

#tagProduto {
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 30x;
    margin-bottom: 50px;
}


@media screen and (max-width: 768px) {
    header {
        padding: 5px 0; 
    }

    header h1 {
        font-size: 1.5rem; 
        padding: 0 10px; 
    }
    header nav {
        width: 100%; 
        text-align: center; 
    }

    header nav ul {
        padding: 2px; 
        margin: 0px auto; 
    }

    header nav ul li {
        display:inline-block; 
        margin:  5px;
    }

    header nav ul li a {
        font-size: 0.9rem; 
    }

    .banner {
        padding: 50px 0; 
    }

    .banner h2 {
        font-size: 1.5rem; 

    .banner p {
        font-size: 0.9rem; 
    }

    .produtos .card {
        width: 100%; 
    }

  @media (max-width: 768px) {
            .texto-banner {
                font-size: 14px;
            }
            .img__quemsomos img {
                max-width: 100%;
                height: auto;
            }
        }
